name: golangci-lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install system packages
        run: |
          sudo apt-get update
          sudo apt-get install -y libdevmapper-dev

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
